<!DOCTYPE html>

<head>
    <title>Attestato Dattilografia</title>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
</head>
<style type="text/css">
    body {
        background: white;
    }

    page {
        background: #f7faff;
        display: block;
        margin: 0 auto;
        background-color: #f7faff;
        border-style: solid;
        border-color: #224f82;
    }

    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

    page[size="A4"][layout="landscape"] {
        width: 29.7cm;
        height: 21cm;
    }

    @media print {

        body,
        page {
            margin: 0;
        }
    }

    h2 {
        color: #224f82;
        text-align: center;
    }

    h3 {
        color: #224f82;
        text-align: center;
    }

    h4 {
        color: #224f82;
    }

    h1 {
        color: #224f82;
        text-align: center;
    }

    p {
        color: #224f82;
    }
</style>
<page size="A4" style="margin-bottom: 40px;">
    <div style="text-align:center">
        <img style="margin-top: 25px;" src="/background/logo-completo-BLU.png" width="450">
    </div>
    <div style="text-align:center">
        <h2>Report Test Attestato Protocollo N° $ID</h2>
        <h2>Per Il Corso Di Addestramento Professionale Per La Dattilografia</h2>
        <h3>$NOME $COGNOME</h3>
        <h3>Promosso con $PUNTEGGIO Di Risposte Esatte</h3>
    </div>
    <!-- REPORT -->
    <div style="margin:15px;">
        <div id="domanda1" style="margin:25px">
            <h4>
                <strog>1. $DOMANDA1</strog>
            </h4>
            $RISPOSTE1
        </div>
        <div id="domanda2" style="margin:25px">
            <h4>
                <strog>2. $DOMANDA2</strog>
            </h4>
            $RISPOSTE2
        </div>
        <div id="domanda3" style="margin:25px">
            <h4>
                <strog>3. $DOMANDA3</strog>
            </h4>
            $RISPOSTE3
        </div>
        <div id="domanda4" style="margin:25px">
            <h4>
                <strog>4. $DOMANDA4</strog>
            </h4>
            $RISPOSTE4
        </div>
        <div id="domanda5" style="margin:25px">
            <h4>
                <strog>5. $DOMANDA5</strog>
            </h4>
            $RISPOSTE5
        </div>
        <div id="domanda6" style="margin:25px">
            <h4>
                <strog>6. $DOMANDA6</strog>
            </h4>
            $RISPOSTE6
        </div>
        <div id="domanda7" style="margin:25px">
            <h4>
                <strog>7. $DOMANDA7</strog>
            </h4>
            $RISPOSTE7
        </div>
        <div id="domanda8" style="margin:25px">
            <h4>
                <strog>8. $DOMANDA8</strog>
            </h4>
            $RISPOSTE8
        </div>
        <div id="domanda9" style="margin:25px">
            <h4>
                <strog>9. $DOMANDA9</strog>
            </h4>
            $RISPOSTE9
        </div>
    </div>
</page>
<page size="A4" style="margin-bottom: 40px;">
    <div style="margin:15px; padding-top:25px;">
        <div id="domanda10" style="margin:25px">
            <h4>
                <strog>10. $DOMANDA10</strog>
            </h4>
            $RISPOSTE10
        </div>
        <div id="domanda11" style="margin:25px">
            <h4>
                <strog>11. $DOMANDA11</strog>
            </h4>
            $RISPOSTE11
        </div>
        <div id="domanda12" style="margin:25px">
            <h4>
                <strog>12. $DOMANDA12</strog>
            </h4>
            $RISPOSTE12
        </div>
        <div id="domanda13" style="margin:25px">
            <h4>
                <strog>13. $DOMANDA13</strog>
            </h4>
            $RISPOSTE13
        </div>
        <div id="domanda14" style="margin:25px">
            <h4>
                <strog>14. $DOMANDA14</strog>
            </h4>
            $RISPOSTE14
        </div>
        <div id="domanda15" style="margin:25px">
            <h4>
                <strog>15. $DOMANDA15</strog>
            </h4>
            $RISPOSTE15
        </div>
        <div id="domanda16" style="margin:25px">
            <h4>
                <strog>16. $DOMANDA16</strog>
            </h4>
            $RISPOSTE16
        </div>
        <div id="domanda17" style="margin:25px">
            <h4>
                <strog>17. $DOMANDA17</strog>
            </h4>
            $RISPOSTE17
        </div>
        <div id="domanda18" style="margin:25px">
            <h4>
                <strog>18. $DOMANDA18</strog>
            </h4>
            $RISPOSTE18
        </div>
        <div id="domanda19" style="margin:25px">
            <h4>
                <strog>19. $DOMANDA19</strog>
            </h4>
            $RISPOSTE19
        </div>
        <div id="domanda20" style="margin:25px">
            <h4>
                <strog>20. $DOMANDA20</strog>
            </h4>
            $RISPOSTE20
        </div>
    </div>
</page>

<page size="A4" style="margin-bottom: 40px;">
    <div style="margin:15px; padding-top:25px; height: 100%;">
        <div id="domanda21" style="margin:25px">
            <h4>
                <strog>21. $DOMANDA21</strog>
            </h4>
            $RISPOSTE21
        </div>
        <div id="domanda22" style="margin:25px">
            <h4>
                <strog>22. $DOMANDA22</strog>
            </h4>
            $RISPOSTE22
        </div>
        <div id="domanda23" style="margin:25px">
            <h4>
                <strog>23. $DOMANDA23</strog>
            </h4>
            $RISPOSTE23
        </div>
        <div id="domanda24" style="margin:25px">
            <h4>
                <strog>24. $DOMANDA24</strog>
            </h4>
            $RISPOSTE24
        </div>
        <div id="domanda25" style="margin:25px">
            <h4>
                <strog>25. $DOMANDA25</strog>
            </h4>
            $RISPOSTE25
        </div>
        <div id="domanda26" style="margin:25px">
            <h4>
                <strog>26. $DOMANDA26</strog>
            </h4>
            $RISPOSTE26
        </div>
        <div id="domanda27" style="margin:25px">
            <h4>
                <strog>27. $DOMANDA27</strog>
            </h4>
            $RISPOSTE27
        </div>
        <div id="domanda28" style="margin:25px">
            <h4>
                <strog>28. $DOMANDA28</strog>
            </h4>
            $RISPOSTE28
        </div>
        <div id="domanda29" style="margin:25px">
            <h4>
                <strog>29. $DOMANDA29</strog>
            </h4>
            $RISPOSTE29
        </div>
        <div id="domanda30" style="margin:25px">
            <h4>
                <strog>30. $DOMANDA30</strog>
            </h4>
            $RISPOSTE30
        </div>
    </div>
</page>

<page size="A4">
    <div style="margin:15px; padding-top:25px;">
        <div id="moduloscrittura" style="margin:25px">
            <h3 style="text-align:left">
                <strog>Modulo di scrittura veloce</strog>
            </h3>
            $HTMLMODULOSCRITTURAVELOCE
        </div>
        <div style="margin:25px">
            <i style="font-size: small;">Il sottoscritto $NOME $COGNOME Con Codice Fiscale: $CF N° DOCUMENTO:
                $DOCUMENTO.<br>Dichiara di aver frequentato il corso di formazione Per Il Corso Di Addestramento
                Professionale Per La Dattilografia, erogato online da CI.EFFE.P.
                su www.corsipersonaleata.it e di aver effettuato personalmente il test il $DATATEST. Dichiara inoltre di
                aver operato per l'accesso al test i dati inseriti in fase di iscrizione e
                autorizza CI.EFFE.P. a conservare i dati risultati dalla presente documentazione.</i>
        </div>
        <div style="margin:25px; margin-top:55px">
            <h4 style="text-align:right; margin-right: 55px;">FIRMA</h4>
        </div>
    </div>
</page>